html,body{
	text-align:center;
	/*background: url("giphy.gif") no-repeat;*/
	background-size: cover;
	height:100%;
	width:100%;
	z-index:5;
}

#page{
	height:100%;
	width:100%;
	min-height:400px;
	min-width:900px;
	z-index:5;
	position:relative;
}

#kkk{
	height:400px;
	width:900px;
	margin:200px auto;
	z-index:5;
	position:absolute;
}

#ooga{
	display:none;
}

#klux{
	width:800px;
	height:300px;
	display:none;
	z-index:5;
	position:absolute;
}

@keyframes move-background {
  from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}
@-webkit-keyframes move-background {
  from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

@-moz-keyframes move-background {    
	from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

    @-webkit-keyframes move-background {
	from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

.background-container{
	position: fixed;
	top: 0;
	left:0;
	bottom: 0;
	right: 0;
}

.stars {
 background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
 position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
  	z-index: 0;
}

.twinkling{
	width:9000px;
	height: 100%;
	background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
	background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    
    -moz-animation:move-background 70s linear infinite;
  -ms-animation:move-background 70s linear infinite;
  -o-animation:move-background 70s linear infinite;
  -webkit-animation:move-background 70s linear infinite;
  animation:move-background 70s linear infinite;
	
}

.clouds{
	width:9000px;
	height: 80%;
	background: transparent url("mynike.svg") repeat;
	background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 200px;
    bottom: 0;
    z-index: 3;

   -moz-animation:move-background 80s linear infinite;
  -ms-animation:move-background 80s linear infinite;
  -o-animation:move-background 80s linear infinite;
  -webkit-animation:move-background 80s linear infinite;
  animation:move-background 80s linear infinite;
}
img{
  height: 70vh;
  width:70vh;
  position: absolute;
  z-index: 3;
  right: 20px;
}